doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Admin | Members Only
    link(rel="stylesheet", href="styles.css")
  body 
    main
      .admin
        .users
          for user in users
            div.userContainer
              div
                p #{user.username}
                p #{user.permision}
              form(action="/admin/user/" + user._id, method="POST")
                button(type="submit") Change Permision
              
        .msgs
          for msg in messages 
            div.msgContainer
              div 
                p #{msg.postedBy.username}
                p #{msg.postedOn.toLocaleString()}
                p #{msg.body}
              form(action="/admin/message/" + msg._id, method="POST")
                button(type="submit") Delete Message
        p #{err}